*
{
	box-sizing: border-box;
}
p
{
	float: left;
	margin-left: 20px;
	background-color: grey;
}
h2
{
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	font-family: Comic Sans MS;

}

.p1
{
	border: 2px solid black;
	padding: 25px 30px ;
	width: 480px	;
	height: 220px;
	font-family: Comic Sans MS;
}
.t1
{
	float: right;
	padding: 5px 35px;
	border: 2px solid black;
	font-size: 22px;
	font-family: Comic Sans MS;
	background-color: pink;
	margin: -27px -31px;

}
.p2
{
	border: 2px solid black;
	padding: 25px 30px ;
	width: 480px;
	height: 220px;
	font-family: Comic Sans MS;
}
.t2
{
	float: right;
	padding: 5px 55px;
	border: 2px solid black;
	font-size: 22px;
	font-family: Comic Sans MS;
	background-color: red;
	margin: -27px -31px;
	color: white;
}
.p3
{
	border: 2px solid black;
	padding: 25px 30px ;
	width: 480px;
	height: 220px;
	font-family: Comic Sans MS;
}
.t3
{
	float: right;
	padding: 5px 55px;
	border: 2px solid black;
	font-size: 22px;
	font-family: Comic Sans MS;
	background-color: #ECCE93;
	margin: -27px -31px;
	color: black;
}
@media(min-width: 992px)
{
	.p1, .p2 , .p3
	{

		width:30%;
		height: 30%;
	}
	.t1 , .t2 , .t3
	{
		font-size: 100%;
	}
	
}

@media(min-width: 768px) and (max-width: 991px)
{
	.p1, .p2 
	{

		width:40%;
		height: 30%;
	}
	.t1 , .t2 , .t3
	{
		font-size: 100%;
	}
	.p3
	{
		width: 82.5%;
	}
}
@media(max-width: 767px)
{
	.p1, .p2 , .p3
	{
		width:80%;
		height: 50%;
	}
	.t1 , .t2 , .t3
	{
		font-size: 100%;
	}
}